{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% load plotly_dash %}

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Predict Stocks</title>
  <meta content="" name="description">
  <meta content="" name="keywords">


</head>

<body>


  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center">
    <div class="container" data-aos="zoom-out" data-aos-delay="100">
      <h1>Welcome to the <span>AI Stock Predictor</span></h1>
      <h2>Predicting next minute prices into the future</h2>
      <div class="d-flex">
        <a href="#about" class="btn-get-started scrollto">Get Started</a>

      </div>
    </div>
  </section><!-- End Hero -->

    <main id="main">

        <!-- ======= Featured Services Section ======= -->
    <section id="featured-services" class="featured-services">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="100">
              <script src ="{% static 'main.js'%}"></script>
                <p class="description">YM=F price in 20 min:</p>
                <h4 id="app">{{ text }}</h4>




            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="200">
              <div class="icon"><i class="bx bx-file"></i></div>
                <p class="description">Current YM=F Price</p>
              <h4 class="title"><a href="">Comming Soon</a></h4>

            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="300">
              <div class="icon"><i class="bx bx-tachometer"></i></div>
                <p class="description">Bitcoin Prediction</p>
              <h4 class="title"><a href="">Comming Soon</a></h4>

            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch mb-5 mb-lg-0">
            <div class="icon-box" data-aos="fade-up" data-aos-delay="400">
              <div class="icon"><i class="bx bx-world"></i></div>
                <p class="description">Current Bitcoin Price</p>
              <h4 class="title"><a href="">Coming Soon</a></h4>

            </div>
          </div>

        </div>

      </div>
    </section>
        <!-- End Featured Services Section -->


<br>
<div class ="yourBlankSpaceDivClass"></div>


  </main><!-- End #main -->

  </body>

{% endblock %}

